$image-com-flores: url(/img/granola/com-flores.jpg);
$image-biscoito: url(/img/granola/biscoito.jpg);
$image-bowl: url(/img/granola/bowl.jpeg);
$image-cereal: url(/img/granola/cereal.jpeg);
$image-colheres-ingredientes: url(/img/granola/colheres-ingredientes.jpg);
$image-forno: url(/img/granola/forno.jpg);
$image-com-laranja: url(/img/granola/com-laranja.jpg);
$image-com-folhas: url(/img/granola/com-folhas.jpeg);