$image-com-flores: url(/img/granola/com-flores.jpg);
$image-biscoito: url(/img/granola/biscoito.jpg);
$image-bowl: url(/img/granola/bowl.jpeg);
$image-cereal: url(/img/granola/cereal.jpeg);
$image-colheres-ingredientes: url(/img/granola/colheres-ingredientes.jpg);
$image-forno: url(/img/granola/forno.jpg);
$image-com-laranja: url(/img/granola/com-laranja.jpg);
$image-com-folhas: url(/img/granola/com-folhas.jpeg);
$image-bolacha: url(/img/granola/bolacha.jpg);
$image-granola-espalhada: url(/img/granola/bowl-granola-espalhada.jpg);
$image-cafe-da-manha: url(/img/granola/cafe-da-manha.jpg);
$image-efeito: url(/img/granola/efeito.jpg);
$image-granola-apenas: url(/img/granola/granola-apenas.jpg);
$image-jornal: url(/img/granola/jornal.jpeg);
$image-mesa-branca: url(/img/granola/mesa-branca.jpg);
$image-mesa-linda: url(/img/granola/mesa-linda.jpg);
$image-mesa-verde: url(/img/granola/mesa-verde.jpg);
$image-roxo: url(/img/granola/roxo.jpg);
$image-salada: url(/img/granola/salada.jpg);
$image-simples: url(/img/granola/simples.jpg);
$image-sopa-rosa: url(/img/granola/sopa-rosa.jpg);
$image-toranjas: url(/img/granola/toranjas.jpg);
$image-yogurt: url(/img/granola/yogurt.jpg);