.cover{
    width: 100%;

    &__image--informacoes{
    background-image: $image-forno;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 150vh;    
    position: relative;
    max-width: 100%;
    }
    &__image--receitas{
    background-image: $image-bolacha;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 150vh;    
    position: relative;
    max-width: 100%;
    }
    &__image--sobre{
    background-image: $image-com-flores;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 150vh;    
    position: relative;
    max-width: 100%;
    }
    &__image--pedido{
    background-image: $image-granola-apenas;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 150vh;    
    position: relative;
    max-width: 100%;
    }

    &__title{
        color: rgba($color: $cor-clara, $alpha: 0.9);  
        font-size: 110px;
        font-weight: lighter; 
        position: absolute;
        top: 7%;
        left: 10px;
        width: 100%; 
        overflow: hidden;  
        
    }
    // &__title{
    //     color: rgba($color: $cor-clara, $alpha: 0.9);  
    //     font-size: 130px;
    //     font-weight: lighter; 
    //     position: absolute;
    //     top: 40%;
    //     text-align: center;
    //     width: 100%; 
    //     overflow: hidden;  
        
    // }

}

