.pedido{
display: flex;
margin: 50px;
}

.btn-pedido{    
    margin: 0 auto;
    color: $cor-clara;
    text-decoration: none;
    font-size: 24px;
    background: linear-gradient(30deg, $cor-3, $cor-2);
    padding: 5px;
    border-radius: 6px;
    border: 3px solid $cor-3;
}