.depoimentos{
    padding: 40px;
    text-align: center;
    background-color: $cor-4;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 100px;


    &__titulo{
        color: $cor-clara;
        text-transform: uppercase;
        margin-top:50px
    }

    &__caixa{
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
    }

    &__item{
        display: flex;
        justify-content: center;  
        flex-direction: column;

        img{
            width: 150px;
            margin: 0 auto;
            margin-bottom: 35px;
        }        
    }

    &__texto{
        color: $cor-clara;
        font-style: italic;
        font-size: 16px;
        }
        &__texto::before{
            content: '"';
        }
        
        &__texto::after{
            content: '"';
        }
        
    &__pessoa{
        color: $cor-clara;
        font-size: 16px;
    }
}

