.depoimentos{
    padding: 40px;
    text-align: center;
    background-color: $cor-4;
    font-size: 20px;
    font-weight: lighter;

    &__titulo{
        color: $cor-clara;
        text-transform: uppercase;
    }

    &__caixa{
        padding-top: 40px;
    }

    &__item{
        display: flex;
        justify-content: center;  
        flex-direction: column;

        img{
            width: 150px;
            margin: 0 auto;
        }        
    }

    &__texto{
        color: $cor-clara;
        font-style: italic;
        font-size: 16px;
        }
}

