.cover__image--contato{
    background-image: $image-colheres-ingredientes;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 150vh;    
    position: relative;
    max-width: 100%;
    }
  
    .form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .form-group{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
    }
    
    .form__label{
        color: $cor-clara;
        line-height: 35px;
    }
    .form__item{
        width: 800px;
        background-color: rgba($color: $cor-1, $alpha: 0.7);
        border-radius: 2px;
        border: none;
        padding-top: 15px;
        color: $cor-clara;
        padding: 9px;
    }

    .form__container{
        background: rgba($color: $cor-4, $alpha: 0.7);
        height: 450px;
        width: 900px;
        margin: 0 auto;
        margin-top: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
             
    }
    .submit{
        text-align: center;
        margin-top: 9px; 
          
    }
    
    #submit{
        font-size: 15px;
        color: $cor-clara;
        border-radius: 5px;
        background: $cor-4;
        padding: 7px; 
        text-transform: uppercase;
    }
    #submit:hover{
        background: $cor-3;
        scale: 1.03;
        transition: all 200ms ease-out;
    }