.titulo-granola{
    line-height: 40px;
    font-size: 30px;
    color: $cor-4;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.texto-granola{
    line-height: 30px;
    font-size: 20px;
    color: $cor-4;
    margin-left: 200px;
    text-align: justify;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}